<div class="box-body">
    {% if inventory %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Inventory Name</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Purchase price</th>
                    <th>Sales price</th>
                    <th>Promotional price</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th class="text-center">Actions</th>
                </tr>
                {% for object in inventory %}
                    <tr>
                        <td>{{ object.name|truncatechars:55 }}</td>
                        <td>{{ object.category_name }}</td>
                        <td>{{ object.current_stock }} PCS</td>
                        <td>BDT {{ object.purchase_price }}</td>
                        <td>BDT {{ object.sales_price }}</td>
                        <td>BDT{{ object.promotional_price }}</td>
                        <td>{{ object.created_at }}</td>
                        <td>{{ object.updated_at }}</td>
                        <td class="text">
                            <a href="{% url 'inventory_detail' pk %}" class="btn btn-info btn-sm">
                                <i class="fa fa-eye"></i></a>
                            <a href="{% url 'inventory_update' pk %}" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil"></i></a>
                            <a href="{% url 'inventory_delete' pk %}" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Inventory added yet</h2>
    {% endif %}
</div>