<div class="box-body">
    {% if product %}
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Product Name</th>
                    <th>Product Category</th>
                    <th>Price</th>
                    <th>Created At</th>
                    <th>Image</th>
                    <th class="text-center">Action</th>
                </tr>
                {% for one in product %}
                    <tr>
                        <td>{{ one.title }}</td>
                        <td>{{ one.product_category }}</td>
                        <td>{{ one.price }}</td>
                        <td>{{ one.created_at }}</td>
                        <td>
                            {% if not one.product_image %}
                                <div class="image-clean"><i class="fa fa-desktop"></i></div>
                            {% else %}
                                <img src="/media/{{ one.product_image }}" width="40px" height="15px"
                                     alt="category image">
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="#" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Product not added yet</h2>
    {% endif %}
</div>