.content-wrapper {
    background: linear-gradient(37deg, lightgrey, lightskyblue, lightblue);
}
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-control {
    margin-left: -2px;
    font-size: 14px;
}
.input_login {
    border: none;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    margin: 1px;
    width: 10px;
    height: 10px;
}
.auth-form .form-group .btn-success {
    width: 173px;
    height: 30px;
    cursor: pointer;
}
.social-auth-links a {
    text-decoration: none;
    color: #fff;
}
.skin-red .main-header .navbar .nav>li>a:hover,
.skin-red .main-header .navbar .nav>li>a:active,
.skin-red .main-header .navbar .nav>li>a:focus,
.skin-red .main-header .navbar .nav .open>a,
.skin-red .main-header .navbar .nav .open>a:hover,
.skin-red .main-header .navbar .nav .open>a:focus,
.skin-red .main-header .navbar .nav>.active>a {
    background: rgba(0,0,0,0.0);
}
.skin-red .wrapper,
.skin-red .main-sidebar,
.skin-red .left-side {
    background-color: #045275;
}
.new_category_btn,
.new_inventory_btn,
.new_product_btn {
    width: 145px;
}
.sidebar-menu:hover {
    overflow: hidden;
}
.user-panel {
    margin-top: 18px;
}
.user-panel>.image>img {
    max-width: 45px;
    height: auto;
    border-radius: 50%;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-circle {
    margin: 0;
}
.user-panel>.info {
    padding: 0px;
    line-height: 1;
    position: absolute;
    left: 69px;
    top: 13px;
}
.main-header .logo .logo-lg {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.treeview a span:hover {
    margin-left: 5px;
}
.navbar-nav {
    margin-right: 30px;
}
ul, li {
    list-style: none;
}
.dropdown-menu {
    display: none;
    background: none;
    border: none;
}
#fa-close {
    position: relative;
    bottom: -22px;
    left: 262px;
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
    color: white;
    cursor: pointer;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #60b4eb;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-red {
    border-radius: 14px;
    box-shadow: 3px 6px 12px red, -3px -6px 12px red;
}
.box-blue {
    border-radius: 14px;
    box-shadow: 3px 6px 12px blue, -3px -6px 12px blue;
}
.box-green {
    border-radius: 14px;
    box-shadow: 3px 6px 12px green, -3px -6px 12px green;
}
.box-orange {
    border-radius: 14px;
    box-shadow: 3px 6px 12px orange, -3px -6px 12px orange;
}
.small-box .small-box-footer {
    border-radius: 0 0 14px 14px;
}
.skin-red .main-header .logo {
        /* width: 200px; */
    height: max-content;
}
@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav {
        margin: 13px;
        float: left;
    }
}
@media (max-width: 767px) {
    .skin-red .main-header .logo {
        width: 100%;
    }
    .user-panel {
        margin-top: 38px;
    }
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
        height: 70px;
        padding-top: 10px;
    }
}

.img-responsive {
    width: 30%;
    height: 30%;
}
.info-title {
    display: grid;
    width: 50%;
}
.register-form .form-group {
    display: flex;
    flex-direction: row;
}
.card-body button {
    width: 55px;
    cursor: pointer;
}
.category_delete_content {
    margin-right: 39px;
}
.category_delete_box {
    padding: 20px;
}
.card {
    text-align: center;
}
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5),
table tbody tr td:nth-child(6){
    text-align: center;
}
table tbody tr td:last-child button {
    width: 45%;
    cursor: pointer;
}
.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: #bdbad2;
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: transparent;
}
.d-inline-flex {
    gap: 7px;
}
.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.mb-1 a {
    text-decoration: none;
    color: #fff;
}
.btn-toggle-nav li a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}
.btn-toggle-nav>li>a>.fa, 
.btn-toggle-nav>li>a>.glyphicon, 
.btn-toggle-nav>li>a>.ion {
    width: 20px;
    text-align: center;
    padding-top: 4px;
}
.fa-pie-chart:before {
    content: "\f200";
}
.col-lg-6 .form-group {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.col-lg-6 .form-group input,
.col-lg-6 .form-group select {
    text-align: center;
}
#id_category_name,
#parent,
#product_category {
    width: 188px;
}
#id_tags,
#id_full_description,
#description {
    width: 188px;
    height: 50px;
}
#picture,
#imageUpload,
#product_image {
    width: 65%;
}
.col-lg-6 .input-group {
    display: flex;
    flex-direction: column;
}
#checkbox_div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
#checkbox_div input[type="checkbox"] {
    -webkit-transform: scale(1.5);
}