.content-wrapper {
    background: linear-gradient(37deg, lightgrey, lightskyblue, lightblue);
}
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-control {
    margin-left: -2px;
    font-size: 14px;
}
.input_login {
    border: none;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    margin: 1px;
    width: 10px;
    height: 10px;
}
.btn-success {
    width: 173px;
}
.social-auth-links a {
    text-decoration: none;
    color: #fff;
}
.user-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 91%;
}
.user-panel>.info {
    padding: 0;
    line-height: 1;
    position: absolute;
    left: 80px;
    top: -3px;
}
.treeview a span:hover {
    margin-left: 5px;
}
.treeview a i span {
    padding-left: 8px;
}
.navbar-nav {
    margin-right: 30px;
}
ul, li {
    list-style: none;
}
.dropdown-menu {
    display: none;
    background: none;
}
#fa-close {
    position: relative;
    bottom: -22px;
    left: 262px;
}
.box-red {
    border-radius: 14px;
    box-shadow: 3px 6px 12px red, -3px -6px 12px red;
}
.box-blue {
    border-radius: 14px;
    box-shadow: 3px 6px 12px blue, -3px -6px 12px blue;
}
.box-green {
    border-radius: 14px;
    box-shadow: 3px 6px 12px green, -3px -6px 12px green;
}
.box-orange {
    border-radius: 14px;
    box-shadow: 3px 6px 12px orange, -3px -6px 12px orange;
}
.small-box .small-box-footer {
    border-radius: 0 0 14px 14px;
}
.skin-red .main-header .logo {
    width: 200px;
}
@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav {
        margin: 13px;
        float: left;
    }
}
@media (max-width: 768px) {
    .skin-red .main-header .logo {
    width: 100%;
}
}
.img-responsive {
    width: 30%;
    height: 30%;
}