<div class="custom_pagination pull-right">
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"><-</a></li>
            {% else %}
                <li class="disabled"><span><-</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }}</span>
                        <span class="sr-only">(current)</span>
                    </li>
                {% else %}
                    <li><a href="?page={{ i }}"></a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">-></a></li>
            {% else %}
                <li class="disabled"><span>-></span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>

<style type="text/css">
    .image_not_found i {
        font-size: 30px;
    }
    .custom_pagination .pagination {
        margin: 0 !important;
    }
</style>