<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    {% block stylesheet %}
        {% include 'stylesheet.html' %}
    {% endblock stylesheet %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
    <body class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
               {% include 'header.html' %}
            </header>
            <aside class="main-sidebar">
                {% include 'sidebar.html' %}
            </aside>
            <div class="content-wrapper">
                {% block content %} {% endblock %}
            </div>
            <footer class="main-footer">
                <div>
                    <strong >Copyright &copy; 2023 <a href="#">Slava Nikitin</a>.</strong> All Rights Reserved.
                </div>
            </footer>

            <div class="control-sidebar-bg"></div>
        </div>
        {% block script %}
            {% include 'javascript.html' %}
        {% endblock %}
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <script src="{% static 'js/js.js' %}"></script>
    </body>
</html>