<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    {% block stylesheet %}
        {% include 'stylesheet.html' %}
    {% endblock stylesheet %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="/">Point of Sale Login</a>
            </div>
          {% block content %}{% endblock %}
        </div>
            {% include 'javascript.html' %}
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <script src="{% static 'js/js.js' %}"></script>
    </body>
</html>