<div class="box-body">
    {% if tag %}
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Tag Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th class="text-center">Action</th>
                </tr>
                {% for one in tag %}
                    <tr>
                        <td>{{ one.name }}</td>
                        <td>{{ one.created_at }}</td>
                        <td>{{ one.update_at }}</td>
                        <td class="text-center">
                            <a href="{% url 'tag_delete' one.pk %}" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Tag not added yet</h2>
    {% endif %}
</div>