{% extends 'base_auth.html' %}

{% block title %} Login Page {% endblock title %}

{% block content %}
    <body style="background-color: #fff">
        <div class="login-box-body, bg-aqua">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <label class="custom-control custom-checkbox">
                                {{ form.remember_me }} Remember me
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-success btn-sm btn-block">Sign In</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="social-auth-links text-center">
                <a href="#">Forgot password</a>
            </div>
        </div>
    </body>
{% endblock content %}